body {
  background: url('background2.png');
 margin: auto;
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(cactus.png);
}

.game-over {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 100px 0;
  font-family: arial;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 700s infinite linear;
  -webkit-animation: slideright 700s infinite linear;
  width: 100%;
  height: 27px;
}
